#radio-container{
    height: 100%;
    width: 47%;
}

.radio-input {
    position: relative;
}

.radio-input-path {
aspect-ratio: 1;
border-radius: 50%;
display: flex;
flex-direction: column;

}

.radioContainer {
position: absolute;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 0%;

}
.radioContainer label {
font-size: 0.8em;
font-weight: 900;
cursor: pointer;
width: 80px;
text-align: center;
}



.radio-input-path input[type="radio"] {
display: none;
}
.radioContainer1 {
left: 5%;
top: 5%;
}

.radioContainer2 {
right: 5%;
top: 5%;
}

.radioContainer3 {
    left: 5%;
    bottom: 4%;
}

.radioContainer4 {
right: 5%;
bottom: 4%;
}


.knob {
width: 5em;
aspect-ratio: 1;
border-radius: 50%;
top: 27%;
left: 50%;
position: absolute;
border: 3px solid black;
outline: 3px solid gray;
background: #cfc9bd;
overflow: hidden;
transform: translateX(-50%);
transform-origin: center center;
transition: transform 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.center {
height: 100%;
width: 1.2em;
position: relative;
left: 50%;
top: 50%;
background-color: #cfc9bd;
border-radius: 7px;
outline: 1px solid rgba(255, 255, 255, 0.377);
transform: translate(-50%, -50%);
box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.474),
    -15px 0px 40px 5px rgba(128, 128, 128, 0.563),
    inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
transition: box-shadow 100ms linear;
}

.center::after {
content: "";
position: absolute;
width: 3px;
height: 25px;
background-color: black;
left: 50%;
top: 1%;
transform: translateX(-50%);
}

/* Adjust rotateZ if the knob rotation is away from the label */
.radio-input-path:has(.radio1:checked) ~ .knob {
transform: translateX(-50%) rotateZ(-30deg);
}
.radio-input-path:has(.radio2:checked) ~ .knob {
transform: translateX(-50%) rotateZ(30deg);
}
.radio-input-path:has(.radio3:checked) ~ .knob {
transform: translateX(-50%) rotateZ(-150deg);
}
.radio-input-path:has(.radio4:checked) ~ .knob {
transform: translateX(-50%) rotateZ(150deg);
}


/* Dynamic shadow adustment based on the knob position */
.radio-input-path:has(.radio1:checked) ~ .knob > .center {
    box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.74),
        -15px 0px 40px 5px rgb(128, 128, 128),
        inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}
.radio-input-path:has(.radio2:checked) ~ .knob > .center {
    box-shadow: 15px 0px 35px rgba(128, 128, 128, 0.63),
        -15px 0px 40px 5px rgba(255, 255, 255, 0.574),
        inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}

.radio-input-path:has(.radio3:checked) ~ .knob > .center {
    box-shadow: 15px 0px 35px rgba(255, 255, 255, 0.74),
        -15px 0px 40px 5px rgb(128, 128, 128),
        inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}

.radio-input-path:has(.radio4:checked) ~ .knob > .center {
    box-shadow: 15px 0px 35px rgba(128, 128, 128, 0.63),
        -15px 0px 40px 5px rgba(255, 255, 255, 0.574),
        inset 0px 0px 4px 0px rgba(255, 255, 255, 0.226);
}

  